<html>
<head>
  <meta charset="utf-8">
  <title>chapter3-8</title>
  <link rel="stylesheet" href="assets/stylesheet/application.css">
</head>

<body>
  <h1>ようこそ<strong>BOOKers</strong>へ！</h1>
  <p><strong>BOOKers</strong>では、様々な書籍に関するご意見や、</p>
  <p>印象を共有し交換することができます。</p>
  <%= link_to "START!", books_path %>
</body>
</html>